# Created by venv; see https://docs.python.org/3/library/venv.html

Image_Capture.py

# Data files
data/

# Certificates
certificate/

# Library files
lib/
include/

# Scripts
scripts/

# Python Configuration files
pyvenv.cfg

