# Created by venv; see https://docs.python.org/3/library/venv.html
# Environment virtual Python
env/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Data folders (jangan commit dataset besar)
data/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log



